
<div class="index">
    {{portfolio-header config=model.header}}
    {{paper-divider}}
    {{about-me config=model.about}}    
    {{paper-divider}}
    {{my-education config=model.education}}
    {{paper-divider}}
    {{my-experience config=model.experiences}}
    {{paper-divider}}
    {{my-recommendations config=model.recommendations}}
    {{paper-divider}}
    {{my-projects config=model.projects}}
    {{paper-divider}}
    {{wip-section}}
</div>