
    
<div id="experience">
{{#vertical-timeline as |timeline|}}
    {{#each config as |experience index|}}
        {{#timeline.block as |block|}}
            {{#block.image class=(concat (if (eq (mod index 2) 1) "primary" "secondary") "-timeline-pill")}}
                {{paper-icon "location-on" size=36 class="experience-icon"}}
            {{/block.image}}
            {{#block.content as |content|}}
                <div class={{concat (if (eq (mod index 2) 1) "primary" "secondary") "-experience-card highlights layout-column"}} >
                    <span class="layout-row">
                    <h2>{{experience.company}}</h2> 
                    <h4>
                        {{#if (eq experience.endDate 'Present')}} 
                            {{add (moment-diff experience.startDate now precision='months') 1}} Months
                        {{else}}
                            {{add (moment-diff experience.startDate experience.endDate precision='months') 1}} Months
                        {{/if}}   
                    </h4>
                    </span>
                    <p>{{experience.position}}</p>
                    
                    {{#each experience.highlights as |highlight|}}
                            <div class="layout-row">{{paper-icon "keyboard-arrow-right" size=30 class="icon flex-5"}}<li class="highlights">{{highlight}}</li></div>
                    {{/each}}
                    {{#content.date}}
                        {{moment-format experience.startDate 'MMM YYYY'}} to 
                        {{#if (eq experience.endDate 'Present')}} 
                            Present
                        {{else}}
                            {{moment-format experience.endDate 'MMM YYYY'}}
                        {{/if}} 
                    {{/content.date}}
                </div>
            {{/block.content}}
    {{/timeline.block}}
    {{/each}}
    {{!More blocks would go here}}

{{/vertical-timeline}}
</div>
{{yield}}