<div id="projects">
{{#paper-content class="md-whiteframe-z1 grid-list-demo-responsiveTiles" }}
    {{#paper-grid-list
    class="project-grid"
    cols="30"
    rowHeight="fit"
    gutter="0px" as |grid|}}

    {{#each config as |project i|}}
        <a href={{project.url}}>
        {{#grid.tile class="project-tile" colspan=project.col rowspan=project.row}}
            <div class="project-content layout-column layout-align-start">
            <div class="header layout-row">
                <img src={{project.icon}}>
                <h1>{{project.name}}</h1>
            </div>
            <div class="tldr flex">
                <p>
                    <b>{{project.tldr}}</b>
                </p>
                <i><a href={{project.demo}}>Demo</a></i>
            </div>
            </div>
        {{/grid.tile}}
        </a>

    {{/each}}
    {{/paper-grid-list}}
{{/paper-content}}
</div>

{{yield}}