<div id="projects">
    <div class="project-grid layout-gt-md-row layout-column">
     {{#each config as |project i|}}
        {{#if (lt i 4)}}
            <div class={{concat "project-content layout-column layout-align-start project-tile dynamic color" (mod i 7)}}>
                <div>
                    <div class="header layout-row">
                        <img src={{project.icon}} height="50">
                        <h1>{{project.name}}</h1>
                    </div>
                    <p><b>{{project.tldr}}</b></p>
                </div>
                <div class="options">
                    {{#if project.demo}}
                    {{#paper-button  href=project.demo raised=true primary=true}}Demo{{/paper-button}}
                    {{/if}}
                    {{#paper-button  href=project.url disabled=(not project.url) primary=true}}Github{{/paper-button}}
                </div>
            </div>
        {{/if}}
    {{/each}}
    </div>
    <a href="http://www.github.com/nicklewanowicz" target="_blank"> 
    <div class="project-content layout-column layout-align-center-center project-tile dynamic color6">
        <div class="header">
            <h1>See more of my projects on Github</h1>
        </div>
    </div>
    </a>
</div>


{{yield}}