<div id="projects">
{{#paper-content class="md-whiteframe-z1 grid-list-demo-responsiveTiles" layout-padding=''}}
    {{#paper-grid-list
    class="project-grid"
    cols="3 md-8 gt-md-12"
    rowHeight="4:3 gt-md-1:1"
    gutter="4px md-8px gt-md-16px" as |grid|}}

    {{#each config as |project|}}
        <a href={{project.url}}>
        {{#grid.tile class="project-tile" colspan=(random 2 3) rowspan=(random 2 3)}}
            <div class="project-content layout-column layout-align-start">
            <div class="header layout-row">
                <img src={{project.icon}}>
                <h1>{{project.name}}</h1>
            </div>
            <div class="tldr flex">
                <p>
                    <b>{{project.tldr}}</b>
                </p>
            </div>
            </div>
        {{/grid.tile}}
        </a>

    {{/each}}
    {{/paper-grid-list}}
{{/paper-content}}
</div>

{{yield}}