<div class="header layout-column" id="header">
  {{ember-particles
  class="particles"
  options=(ember-particles-options
    'particles.number.value' 200
    'particles.number.density.enable' true
    'particles.color.value' '#0d47a1'
    'particles.size.value' 3
    'interactivity.events.onhover.enabled' true
    'interactivity.events.onhover.mode' 'repulse'
    'interactivity.modes.repulse.distance' 100
    'particles.line_linked.enable' true
    'particles.line_linked.color' '#0d47a1'
    'particles.line_linked.opacity' 0.3
    'particles.line_linked.width' 2
  )}}
  <div class='header-info layout-column layout-align-center gt-md big-header'>
    <h1 class="center">{{config.name}}</h1>
    <h2 class="center">{{config.position}}</h2>
    <a class="center md-default-theme md-button md-primary md-raised" href="Nicholas_Lewanowicz_Resume.pdf" download> Download Resume</a>
  </div>
</div>
<div class='header-overlay'></div>
<div class='header-blur'></div>
<div id="header-down">
  {{!-- <span onclick={{action 'moveTo'}}>
    <i class="fa fa-chevron-down" aria-hidden="true"></i>
  </span> --}}
</div>

{{yield}}