<div id="education" class="layout-row layout-align-center">
{{#each config as |item index| }}
    <div class="education-card layout-column">
        <h2>{{item.institution}}</h2>
        <h3>{{item.studyType}} {{item.area}}</h3>
        <span class="extras">with {{#each item.extras as |ex index|}}
            {{#if (eq index (sub item.extras.length 1))}}
                and {{ex}}.
            {{else}}
                {{ex}},
            {{/if}}
        {{/each}}</span>
        
        <p class="school-date">
            {{moment-format item.startDate 'MMM YYYY'}} to 
                {{#if (eq item.endDate 'Present')}}
                    Present
                {{else}}
                    {{moment-format item.endDate 'MMM YYYY'}}
                {{/if}}
        </p>
        <span class="layout-column highlights">
        {{#each item.highlights as |highlight|}}
            <div class="layout-row">{{paper-icon "keyboard-arrow-right" size=30 class="icon"}}<li class="highlights">{{highlight}}</li></div>
        {{/each}}
        </span>
        
        
    </div>
{{/each}}
</div>
{{yield}}